<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="mengka,mengkamengka,动漫,二次元,萌咔,萌咔萌咔,萌咔by,弹幕">
    <meta name="description" content="萌咔萌咔,简称M站( ,,´･ω･)ﾉ(´っω･｀｡)建立本网站,为二次元大家建立一个干净,舒适的╮(╯▽╰)╭ 补番环境。本网站设置最多6个播放源,应该不容易挂完吧( ๑´•ω•) (ㆆᴗㆆ)">
    <title>M站_萌咔萌咔弹幕视频网_干净的动漫网站(´っω･｀｡)</title>
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<style>
.link-overlay::before {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -18px;
    border-radius: 50%;
    background: 0 0;
    text-align: center;
    font: 14px/40px 'FontAwesome';
    transform: scale(.8);
    opacity: 1;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
    text-decoration: none;
    box-shadow: 0 0 0 2px rgba(255,255,255,.75);
    color: #fff;
}
#security {
    height: 500px;
}
@media (max-width: 990px) {
    #security {
        height: 200px;
    }
}
</style>
<div id="overlay" style="background: url('/static/public/img/iframe_bg.jpg');pointer-events: none;width: 100%;height: 100%;position: absolute">
    <div class="link-overlay fa fa-play"></div>
</div>
{% if security == 0 %}
<iframe id="security" src="{{ url }}" width="100%" scrolling="no" allowfullscreen="true" allowtransparency="true" frameborder="no" border="0" marginwidth="0" marginheight="0"></iframe>
{% else %}
<iframe id="security" sandbox="allow-same-origin allow-scripts" src="{{ url }}" width="100%" scrolling="no" allowfullscreen="true" allowtransparency="true" frameborder="no" border="0" marginwidth="0" marginheight="0"></iframe>
{% endif %}

<script>

    var IframeOnClick = {
        resolution: 200,
        iframes: [],
        interval: null,
        Iframe: function() {
            this.element = arguments[0];
            this.cb = arguments[1];
            this.hasTracked = false;
        },
        track: function(element, cb) {
            this.iframes.push(new this.Iframe(element, cb));
            if (!this.interval) {
                var _this = this;
                this.interval = setInterval(function() { _this.checkClick(); }, this.resolution);
            }
        },
        checkClick: function() {
            if (document.activeElement) {
                var activeElement = document.activeElement;
                for (var i in this.iframes) {
                    if (activeElement === this.iframes[i].element) { // user is in this Iframe
                        if (this.iframes[i].hasTracked == false) {
                            this.iframes[i].cb.apply(window, []);
                            this.iframes[i].hasTracked = true;
                        }
                    } else {
                        this.iframes[i].hasTracked = false;
                    }
                }
            }
        }
    };
    IframeOnClick.track(document.getElementById("security"), function() {
        $('#overlay').remove();
    });
    $(function(){
    var mobile_flag = isMobile();
    if(!mobile_flag){
        $('#security').removeAttr('sandbox');
    }
    else{
        $('#security').attr('sandbox','allow-same-origin allow-scripts');
    }
});

function isMobile() {
    var userAgentInfo = navigator.userAgent;

    var mobileAgents = [ "Android", "iPhone", "SymbianOS", "Windows Phone", "iPad","iPod"];

    var mobile_flag = false;

    //根据userAgent判断是否是手机
    for (var v = 0; v < mobileAgents.length; v++) {
        if (userAgentInfo.indexOf(mobileAgents[v]) > 0) {
            mobile_flag = true;
            break;
        }
    }

     var screen_width = window.screen.width;
     var screen_height = window.screen.height;

     //根据屏幕分辨率判断是否是手机
     if(screen_width < 500 && screen_height < 800){
         mobile_flag = true;
     }

     return mobile_flag;
}
</script>
</body>
</html>