{% extends "public.html" %}
{% block content %}
<div id="content" class="content-wrapper py-32 lg:p-8 lg:w-3/4">
    <h1 class="text-3xl font-bold lg:mt-16">关于我</h1>
    <div class="text-sm text-gray-700 lg:my-8">
        2019-11-18 / read
    </div>
    <img class="post-feature-image rounded-lg mx-auto my-4" src="/static/img/about.jpg" alt="">
    <div class="post-content yue">
        <p>你好！欢迎来到本站！这里是我的个人博客，主要存放我的学习记录、生活随笔和其他的一些乱七八糟的东西。</p>
        <h2 id="联系我们的方式">联系我的方式</h2>
        <p>我的QQ邮箱:1084337496@qq.com</p>
    </div>
</div>
{% endblock %}
