{% extends "public.html" %}
{% block content %}
<div id="content" class="content-wrapper py-32 lg:p-8 lg:w-3/4">
    <h1 class="text-3xl font-bold lg:mt-16">先定一个小目标 Ver1</h1>
    <div class="text-sm text-gray-700 lg:my-8">
        2019-11-24 / read
    </div>

    <img class="post-feature-image rounded-lg mx-auto my-4" src="/static/img/goal.jpg" alt=" ">

    <div class="post-content yue">
        <h2 id="未完成">未完成</h2>
        <h3 id="总结性目标">总结性目标</h3>
        <ul>
            <li>学习生物信息</li>
            <li>考研</li>
        </ul>
        <h3 id="阶段性目标">阶段性目标</h3>
        <ul>
            <li>过英语四级</li>
            <li>过英语六级</li>
        </ul>
        <hr>
        <h2 id="已完成">已完成</h2>
        <h3 id="总结性目标-2">总结性目标</h3>
        <ul>
            <li>开设一个动漫论坛</li>
            <li>开设一个独立博客</li>
            <li>和女神谈恋爱</li>
        </ul>
        <h3 id="阶段性目标-2">阶段性目标</h3>
        <ul>
            <li>学习Unity开发</li>
            <li>学习PHP知识并熟练运用</li>
            <li>学习Python知识并熟练运用</li>
            <li>学习C# for Unity</li>
            <li>学习前端知识并熟练运用</li>
            <li>学习Kotlin尝试软件开发</li>
        </ul>
        <h2 id="搁置">搁置</h2>
        <ul>
            <li>学习Unity开发（之后可能会学吧）</li>
            <li>学习Kotlin尝试软件开发（之后可能会学吧）</li>
        </ul>
        <hr>
    </div>
</div>
{% endblock %}