{% extends "public.html" %}
{% block title %}
    M站_萌咔萌咔弹幕视频网_干净的动漫网站(´っω･｀｡)
{% endblock %}
{% block keywords %}mengka,mengkaby,mengkamengka,M站,动漫,二次元,萌咔,萌咔萌咔,萌咔by,弹幕{% endblock %}
{% block description %}萌咔萌咔,简称M站吧( ,,´･ω･)ﾉ(´っω･｀｡)无聊时建立本网站,为二次元大家建立一个干净,舒适的╮(╯▽╰)╭ 补番环境。本网站设置最多6个播放源,应该不容易挂完吧( ๑´•ω•) (ㆆᴗㆆ){% endblock %}
{% block index %}{{ 'active' }}{% endblock %}
{% block container %}
    <br>
    {% for value in data %}
    <div class="card">
        <div class="card-header grad title"><img class="icon" src="static/public/img/Interface - Flat Multicolor .svg">{{ value }}</div>
        <div class="card-body">
            <div class="row">
                {% for val in data[value] %}
                <div class="col-lg-4 col-4" style="text-align: center;">
                    <a class="card-link" href="/lun_tan?plate_id={{ data[value][val].id }}&type=quan_bu"><img src="{{ url_for( 'static',filename='public/img/plate/{id}'.format(id=data[value][val].id)) }}" alt="{{ data[value][val].subplate_name }}" class="img-rounded img_size"></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br>
    {% endfor %}

{% endblock %}
{% block public %}
{% endblock %}