<style>
    textarea{
        display: block;
    }
</style>
<link href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet"/>
<form action="/root/tianJia" id="addForm">
    <div class="row">
       <div class="col-6">
            title:<textarea class="form-control" type="text" name="title"></textarea>
            region:<textarea class="form-control" type="text" name="region"></textarea>
            sheng_you:<textarea class="form-control" type="text" name="sheng_you"></textarea>
            make:<textarea class="form-control" type="text" name="make"></textarea>
            year:<textarea class="form-control" type="text" name="year"></textarea>
            kan_dian:<textarea class="form-control" type="text" name="kan_dian"></textarea>
            tag:<textarea class="form-control" type="text" name="tag"></textarea>
            type:<textarea class="form-control" type="text" name="type"></textarea>
            subtitle:<textarea class="form-control" type="text" name="subtitle"></textarea>
            imgName:<textarea class="form-control" type="text" name="imgName"></textarea>
        </div>
        <div class="col-6">
            path0:<button type="button" id="path0Add">+</button><button type="button" id="path0Rem">-</button>
            <textarea class="form-control path0" type="text" placeholder="0"></textarea>
            <input type="text" id="path0" name="path0" style="display: none">
            path1:
            <textarea class="form-control" type="text" name="path1" placeholder="0"></textarea>
            path2:
            <textarea class="form-control" type="text" name="path2" placeholder="0"></textarea>
            <button class="btn btn-primary" id="add" type="button">添加</button>
        </div>
    </div>
</form>
<hr>
<form action="/root/xiuGai">
    title:<textarea class="form-control" type="text" name="title"></textarea>
    region:<textarea class="form-control" type="text" name="region"></textarea>
    sheng_you:<textarea class="form-control" type="text" name="sheng_you"></textarea>
    make:<textarea class="form-control" type="text" name="make"></textarea>
    year:<textarea class="form-control" type="text" name="year"></textarea>
    kan_dian:<textarea class="form-control" type="text" name="kan_dian"></textarea>
    tag:<textarea class="form-control" type="text" name="tag"></textarea>
    type:<textarea class="form-control" type="text" name="type"></textarea>
    subtitle:<textarea class="form-control" type="text" name="subtitle"></textarea>
    imgName:<textarea class="form-control" type="text" name="imgName"></textarea>
    path0:<textarea class="form-control" type="text" name="path0"></textarea>
    path1:<textarea class="form-control" type="text" name="path1"></textarea>
    path2:<textarea class="form-control" type="text" name="path2"></textarea>
    <button type="submit">修改</button>
</form>
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script>
    var path0 = 0;
    $("#path0Add").click(function (e) {
        path0 += 1;
        $('<textarea>',{
            'class':'form-control path0',
            'type':'text',
            'placeholder': path0
        }).insertAfter("#path0Rem")
    });
    $("#path0Rem").click(function (e) {
        if(path0 == 0)return;
        path0 -= 1;
        $('#path0Rem + textarea').remove()
    });
    $("#add").click(function (e) {
        path0Arr = [];
        $('.path0').each(function (i,d) {
            path0Arr.unshift($(d).val())
        });
        $("#path0").val(path0Arr.join(','));
        console.log($("#path0").val());
    });
    $.ajax({
        url:"/xiuGaiSearch",
        success:function (data) {
        }
    })
</script>