<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>M站_萌咔萌咔弹幕视频网_干净的动漫网站(´っω･｀｡)</title>
</head>
<body>
{{ template|safe }}
</body>
</html>
<script>
    !function(){
        var e=/([http|https]:\/\/[a-zA-Z0-9\_\.]+\.baidu\.com)/gi,
            r=window.location.href,
            t=document.referrer;
        if(!e.test(r)){
            var o="https://sp0.baidu.com/9_Q4simg2RQJ8t7jm9iCKT-xh_/s.gif";
            t?(o+="?r="+encodeURIComponent(document.referrer),
            r&&(o+="&l="+r)):r&&(o+="?l="+r);
            var i=new Image;i.src=o
        }
    }(window);
</script>