{% extends "public.html" %}
{% block title %}
    M站_萌咔萌咔弹幕视频网_干净的动漫网站(´っω･｀｡):{{ user_data.user_name }}
{% endblock %}
{% block keywords %}mengka,mengkaby,mengkamengka,M站,动漫,二次元,萌咔,萌咔萌咔,萌咔by,{{ user_data.user_name }}{% endblock %}
{% block description %}萌咔萌咔,简称M站吧( ,,´･ω･)ﾉ(´っω･｀｡)建立本网站,为二次元大家建立一个干净,舒适的╮(╯▽╰)╭ 补番环境。本网站设置最多6个播放源,应该不容易挂完吧( ๑´•ω•) (ㆆᴗㆆ){% endblock %}
{% block container %}
{% block css %}
    <style>
    .user_sel:before {
        content: "";
        position: absolute;
        top: 25px;
        left: 35%;
        border: 2px solid;
        width: 30%;
        color: orange;
        display: block;
    }
    .sel-a {
        color: #8590a6;
        font-weight: bold;
        width: 100%;
        padding: 5px;
        margin: 5px;
        text-align: center;
        white-space: nowrap;
    }
    .sel-a i {
        margin-right: 5px;
    }
    .sel-a:hover {
    	color: orange;
    }
    .user_sel {
        position: relative;
        color: orange;
    }
    table tr td:first-child {
        text-align: right;
        padding: 10px;
    }
    #user_image {
        text-align: center;
    }
    #user_image > #img,#user_image > img {
        border: 4px solid #f6f6f6;
        width: 200px;
        margin: auto;
    }
    #user_image > #img {
        position: relative;
    }
    #user_image img {
        transition:all 0.3s linear 0s;
        /* Safari */
        -webkit-transition:all 0.3s linear 0s;
    }
    #user_image img:hover {
        opacity: 0.5;
    }
    td {
        white-space:nowrap;
    }
    </style>
{% endblock %}
    <div class="row">
        <div class="col-lg-2">
            <div class="card">
                <div class="card-body nav nav-tab">
                    <a href="#user_information" data-toggle="tab" class="user_sel sel-a"><i class="fa fa-id-card-o" aria-hidden="true"></i>用户信息</a>
                    <a href="#user_image" data-toggle="tab" class="sel-a"><i class="fa fa-user-circle" aria-hidden="true"></i>用户头像</a>
                </div>
            </div>
        </div>

        <div class="col-lg-10">
            <div class="card">
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="user_information">
                            <form target="_blank" method="post" action="/xiuGai/submit/{{ user_data.id }}">
                                <table>
                                    <tr><td>用户名:</td><td><input required type="text" name="user_name" class="form-control" value="{{ user_data.user_name }}"></td></tr>
                                    <tr><td>密码:</td><td><input required type="password" name="password" class="form-control" value="{{ user_data.password }}"></td></tr>
                                    <tr><td>个性签名:</td><td><textarea type="text" name="sersonal_signature" class="form-control">{{ user_data.sersonal_signature }}</textarea></td></tr>
                                    <tr><td>爱好:</td><td><input type="text" name="hobbies" class="form-control" value="{{ user_data.hobbies }}"></td></tr>
                                    <tr><td>性别:</td><td><select name="sex" id="sex" class="form-control">
                                        <option value="2">隐藏</option>
                                        <option value="0">男</option>
                                        <option value="1">女</option>
                                    </select></td></tr>
                                    <tr><td>生日:</td><td><input type="text" name="birthday" class="form-control" value="{{ user_data.birthday }}"></td></tr>
                                    <tr><td>电话:</td><td><input type="text" name="phone" class="form-control" value="{{ user_data.phone }}"></td></tr>
                                    <tr><td>邮件:</td><td><input type="text" name="email" class="form-control" value="{{ user_data.email }}"></td></tr>
                                    <tr><td></td><td></td></tr>
                                </table>
                                <button type="submit" class="btn btn-primary">提交</button>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="user_image">
                            <div id="img"><img src="{{ url_for( 'static',filename='public/img/user/{0}'.format(user_data.id)) }}.png!300-300" alt="{{ '{0}'.format(user_data.user_name) }}" class="img-fluid"></div>
                            <input id="upload" name="file" accept="image/*" type="file" style="display: none"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block public %}
    <script src="/static/js/ajaxfileupload.js"></script>
    <script>
        $(".sel-a").click(function(e){
            $(".sel-a").attr("class","sel-a");
            $(e.target).attr("class","user_sel sel-a");
        });
        document.getElementById("sex").value = "{{ user_data.sex }}";
        $("#user_image #img").mouseenter(function (e) {
            $("<a>", {
                id:"add",
                text: "更换头像",
                style: "padding-top:5px;padding-left:2px;" +
                    "background: #ffffff;" +
                    "font-size:12px;" +
                    "color:#8590a6;" +
                    "letter-spacing:3px;" +
                    "line-height:1.3;" +
                    "display:block;" +
                    "position: absolute;" +
                    "height: 50px;width: 50px;\n" +
                    "border: 4px solid #f6f6f6;\n" +
                    "border-radius: 25px;\n" +
                    "bottom: -20px;\n" +
                    "left: 75px;",
                click: function() {
                    //头像预览
                    $("#upload").click(); //隐藏了input:file样式后，点击头像就可以本地上传
                    $("#upload").on("change",function(){
                        var objUrl = getObjectURL(this.files[0]) ; //获取图片的路径，该路径不是图片在本地的路径
                        console.log(objUrl);
                        if (objUrl) {
                            var imgurl = document.getElementById("upload").value;
                            $.ajaxFileUpload({
                                url: "/xiuGai/image/{{ user_data.id }}",
                                fileElementId: "upload", //文件上传域的ID，这里是input的ID，而不是img的
                                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                                success: function (data) {
                                    console.log(JSON.stringify(data));
                                    $("#user_image img").attr("src", objUrl) ; //将图片路径存入src中，显示出图片
                                }
                            });

                        }
                    });

                    //建立一個可存取到該file的url
                    function getObjectURL(file) {
                        var url = null ;
                        if (window.createObjectURL!=undefined) { // basic
                            url = window.createObjectURL(file) ;
                        } else if (window.URL!=undefined) { // mozilla(firefox)
                            url = window.URL.createObjectURL(file) ;
                        } else if (window.webkitURL!=undefined) { // webkit or chrome
                            url = window.webkitURL.createObjectURL(file) ;
                        }
                        return url ;
                    }
                }
            }).appendTo(this);
        });
        $("#user_image #img").mouseleave(function (e) {
            $("a#add").remove();
        });
    </script>
{% endblock %}


