{% extends "public.html" %}
{% block title %}
    M站_萌咔萌咔弹幕视频网_干净的动漫网站(´っω･｀｡)搜索:{{ search }}
{% endblock %}
{% block keywords %}萌咔萌咔,{{ search }}{% endblock %}
{% block description %}萌咔萌咔弹幕视频网番剧搜索:{{ search }}{% endblock %}
{% block zi_yuan %}{{ 'active' }}{% endblock %}
{% block search %}{{ search }}{% endblock %}
{% block zi_yuan_search %}
<input type="text" name="zi_yuan_search_type" value="source" style="display: none">
{% endblock %}
{% block container %}
    <div class="row">
        <div class="col-lg-8">
            <div class="card" style="overflow: visible;">
                <div class="card-header">
                    <p><img src="{{ url_for( 'static',filename='public/img/视频.svg') }}" style="width:1.2em;margin: 0 5px 3px 0;">
                        {{ search }}
                        <nobr class="pull-right" style="font-size: 12px;line-height: 33px;">
                            <a id="year" onclick="javascript:location.href=window.location.href.split('&sort')[0]+'&sort=year'"><i class="fa fa-level-down" aria-hidden="true"></i> 时间</a>
                            <a id="browse" onclick="javascript:location.href=window.location.href.split('&sort')[0]+'&sort=browse'"><i class="fa fa-level-down" aria-hidden="true"></i> 人气</a>
                        </nobr>
                    </p>
                </div>
                <div class="card-body">
                <ul class="pagination" id="ziYuan_ul"></ul>
                <div class="row" id="ziYuan"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card fixedsticky" style="top:67px;overflow: hidden">
                <div class="card-body">
                    <div class="media">
                        <div class="media-body">
                            <div class="media-body">
                                <h4 class="widget-title">导航栏</h4>
                                <div class="moKuaiSel">
                                    <div class="row">
                                        <div class="col-lg-4 col-4"><a style="color:#495057" href="/lun_tan?plate_id=1&search=None&type=dong_man"><img src="/static/public/img/番剧.svg" class="icon">动漫资讯</a></div>
                                        <div class="col-lg-4 col-4"><a style="color:#495057" href="/zi_yuan/time_tb"><img src="/static/public/img/时间表.svg" class="icon">新番时间</a></div>
                                        <div class="col-lg-4 col-4"><a style="color:#495057" href="/zi_yuan/fen_lei"><img src="/static/public/img/分类.svg" class="icon">动漫分类</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block public %}
    <script>
    var url = window.location.href.split('&sort=');
    if(url.length > 1){
        if(url[1] == 'year'){
            $('#year').css('color','orange');
        }
        else{
            $('#browse').css('color','orange');
        }
    }
    else{
        $('#year').css('color','orange');
    }
    $(document).ready(function () {
        var data = {{ data|safe }};
        var html = [];
        for(i in data){
            html_sub = '<div class="col-lg-4 col-6">' +
                '            <div class="card toolTip" style="overflow: visible;">\n' +
                '                <div class="card-body" style="padding:0">\n' +
                '                    <div class="mv-title"><a href="/ziYuanDetail/'+data[i].id+'/0/0" title="'+data[i].title+'">'+data[i].title+'</a>'+data[i].type+'</div>\n' +
                '                    <div class="mv-img"><img src="'+data[i].imgName+'" alt="'+data[i].title+'" class="img-fluid"></div>\n' +
                '                    <div class="row mv-info">\n' +
                '                        <span><i class="fa fa-eye" aria-hidden="true"></i>'+data[i].browse+'</span>\n' +
                '                        <span class="mv-info-middle"><i class="fa fa-comments-o" aria-hidden="true"></i>'+data[i].comment+'</span>\n' +
                '                        <span><i class="fa fa-heart-o" aria-hidden="true"></i></span>\n' +
                '                    </div>\n' +
                '                </div>\n' +
                '                <div class="toolTiptext">\n' +
                '                    <div style="font-size:8px;padding:5px;text-align: justify;line-height:2em;color: #333">\n' +
                '                        <b style="color: #fa6362;display: block;font-size: 10px">'+data[i].title+'</b>\n'+data[i].subtitle+
                '                    </div>\n' +
                '                </div>\n' +
                '            </div>\n' +
                '        </div>\n';
                html[i] = {};
                html[i]["main"] = html_sub;
            }
            var di = new divFen("ziYuan",html);
            di;
    })
    </script>
    <script src="{{ url_for( 'static',filename='js/divFen.js') }}"></script>
{% endblock %}