{% extends "public.html" %}
{% block title %}
    M站_萌咔萌咔弹幕视频网_干净的动漫网站(´っω･｀｡):{{ source.title }}【{{ source.path_arr[-1] }}】
{% endblock %}
{% block keywords %}{{ source.title }}【{{ source.path_arr[-1] }}】{% endblock %}
{% block description %}{{ source.subtitle|safe }}{% endblock %}
{% block zi_yuan %}{{ 'active' }}{% endblock %}
{% block zi_yuan_search %}
<input type="text" name="zi_yuan_search_type" value="source" style="display: none">
{% endblock %}
{% block brand %}<a id="this" style="width:230px;text-overflow:ellipsis;color:#fff;display: none;font-size: 20px;overflow:hidden;white-space: nowrap"><img src="{{ url_for( 'static',filename='public/img/视频.svg') }}" style="width:1.2em;margin-right: 5px;margin-bottom: .3em;">{{ source.title }}</a>{% endblock %}
{% block container %}
    <link href="https://www.moerats.com/usr/dplayer/DPlayer.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for( 'static',filename='public/OwO/OwO.min.css') }}">
    <style>


    </style>
    <div class="row">
        <div class="col-lg-12">
             <div class="card">
                <div class="card-header">
                    <p><img src="{{ url_for( 'static',filename='public/img/视频.svg') }}" style="width:1.2em;margin-right: 5px;margin-bottom: .3em;">{{ source.title }}【{{ source.path_arr[-1] }}】</p>
                </div>
                 <div class="card-body">
                     <div id="mengkaby_player"></div>
                </div>
             </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header" style="overflow: visible">
                    <button type="button" class="btn btn-primary btn-share" data-toggle="collapse" data-target="#demo_num" id="number">选集</button>
                    <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle btn-share" data-toggle="dropdown">
                    分流 {{ come }}
                    </button>
                    <div class="dropdown-menu">
                        {% if source.path0 != '0' and source.path0 != '' and source.path0 != None %}
                        <a class="dropdown-item" href="/ziYuanDetail/{{ source.id }}/0/0">分流 0</a>
                        {% endif %}
                        {% if source.path1 != '0' and source.path1 != '' and source.path1 != None %}
                        <a class="dropdown-item" href="/ziYuanDetail/{{ source.id }}/1/0">分流 1</a>
                        {% endif %}
                        {% if source.path2 != '0' and source.path2 != '' and source.path2 != None %}
                        <a class="dropdown-item" href="/ziYuanDetail/{{ source.id }}/2/0">分流 2</a>
                        {% endif %}
                        {% if source.path3 != '0' and source.path3 != '' and source.path3 != None %}
                        <a class="dropdown-item" href="/ziYuanDetail/{{ source.id }}/3/0">分流 3</a>
                        {% endif %}
                        {% if source.path4 != '0' and source.path4 != '' and source.path4 != None %}
                        <a class="dropdown-item" href="/ziYuanDetail/{{ source.id }}/4/0">分流 4</a>
                        {% endif %}
                        {% if source.path5 != '0' and source.path5 != '' and source.path5 != None %}
                        <a class="dropdown-item" href="/ziYuanDetail/{{ source.id }}/5/0">分流 5</a>
                        {% endif %}
                    </div>
                    </div>
                    <div class="pull-right">
                        分享到:
                        <a target="_blank" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=http://106.53.77.53/ziYuanDetail/{{ source.id }}/{{ come }}/{{ num }}&amp;title={{ source.title }}&amp;&summary={{ source.subtitle }}&amp;site=http://106.53.77.53/static/public/img/user/{{ session.get('user_id') }}"><img
                                src="{{ url_for( 'static',filename='public/img/QQ.svg') }}" alt="QQ" class="img-share"></a>
                    </div>
                  <div id="demo_num" class="collapse">
                      <hr>
                      <div id="num"></div>
                      <hr>
                  </div>
                </div>
                <div class="card-body">
                    <div class="tag tag-head">标签 / {{ source.type|safe }}</div>
                    <hr>
                    <div class="subtitle">{{ source.subtitle|safe }}</div>
                    <hr>
                </div>
                <div class="card-body" style="margin-top: -40px;">
                    <div class="tag tag-head" style="line-height: 1.8">评论</div>
                    <hr>
                    <table class="table" id="table_detail" style="width:100%">
                        <thead style="display: none">
                          <tr>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <ul class="pagination" id="table_detail_ul"></ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="media">
                        <span class="user-operate">
                            {% if source.id in source_love %}
                            <i id="sourceLove" data-source_id="{{ source.id }}" class="fa fa-heart"></i>
                            {% else %}
                            <i id="sourceLove" data-source_id="{{ source.id }}" class="fa fa-heart-o"></i>
                            {% endif %}
                            喜欢
                        </span>
                    </div>
                </div>
            </div>
            <div class="card" style="overflow: visible;">
                <div class="card-body">
                    <div class="media">
                        <div class="media-body">
                            <form action="/owoSubmit/{{ source.id }}/{{ come }}/{{ num }}" method="post">
                                <textarea contenteditable='true' name="content" class="OwO-textarea form-control"></textarea>
                                <div class="OwO"></div>
                                <button class="OwO-button btn btn-primary pull-right" type="submit">发送</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="widget-title">推荐番</h4>
                    <div class="nobr">
                        {% for d in source_recommend %}
                            <div class="card" style="overflow: visible;">
                                <div class="card-body" style="padding:0">
                                    <div class="mv-title">{{ source_recommend[d].title }}{{ source_recommend[d].type|safe }}</div>
                                    <a class="mv-img" href="/ziYuanDetail/{{ source_recommend[d].id }}/0/0">
                                        <img src="{{ source_recommend[d].imgName }}" alt=" " class="img-fluid">
                                    </a>
                                    <div class="row mv-info">
                                        <span><i class="fa fa-eye" aria-hidden="true"></i>{{ source_recommend[d].browse }}</span>
                                        <span class="mv-info-middle"><i class="fa fa-comments-o" aria-hidden="true"></i>{{ source_recommend[d].comment }}</span>
                                        <span><i class="fa fa-heart-o" aria-hidden="true"></i>{{ source_recommend[d].up_num }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form method="post" action="/source_conmment_response">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">评论</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-group">
                <input type="text" style="display: none" class="form-control" id="detail_id" name="detail_id">
                <input type="text" style="display: none" class="form-control" id="target_source_id" name="target_source_id">
                <input type="text" style="display: none" class="form-control" id="user_id" name="user_id">
              </div>
              <div class="form-group">
                <textarea type="text" class="form-control" oninput="check(this)" required id="source_conmment_content" name="content"></textarea>
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" onclick="return check_all()" class="btn btn-primary">发送</button>
          </div>
        </form>
    </div>
  </div>
</div>
<div class="modal fade" id="sourceLoveModal" tabindex="-1" role="dialog" aria-labelledby="sourceLoveModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">
        成功!
        </div>
    </div>
  </div>
</div>
{% endblock %}
{% block public %}
    <script src="{{ url_for( 'static',filename='js/datatable.js') }}"></script>
    <!-- 初始化表格 -->
    <script type="text/javascript">
        var table_detail = new table("table_detail",{{ data|safe }});
        table_detail;
    </script>
    <!-- 初始化表格结束 -->
<!--<script src="https://www.moerats.com/usr/dplayer/DPlayer.min.js"></script>-->
<script src="https://cdn.bootcss.com/hls.js/8.0.0-beta.3/hls.js"></script>
<!--<link href="//cdn.staticfile.org/dplayer/1.25.0/DPlayer.min.css" rel="stylesheet">-->
<!--<script src="//cdn.staticfile.org/dplayer/1.25.0/DPlayer.min.js"></script>-->
<!--<script src="//cdn.staticfile.org/hls.js/0.10.1/hls.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/flv.js/dist/flv.min.js"></script>-->
    <script>
    $("#sourceLove").click(function (e) {
        var source_id = $(e.currentTarget).data("source_id");
        $.ajax({
            url:"/sourceLove/"+source_id,
            beforeSend:function(){
              $("#loading").removeClass("hide");
            },
            complete:function () {
                $("#loading").addClass("hide");
            },
            success: function (d) {
                if(d == "success")
                    $("#sourceLove").attr("class","fa fa-heart");
                else
                    $("#sourceLove").attr("class","fa fa-heart-o");
            },
            error:function () {
                $("#sourceLoveModal").modal("show");
                $(".modal-backdrop").removeAttr("class");
                $("#sourceLoveModal .modal-body").html("提交失败!")
            }
        })
    });
    function check(e){
        if (e.value == "")
        e.setCustomValidity("请输入内容!");
        else
        e.setCustomValidity("");
    }
    function check_all(){
        var content = document.getElementById("source_conmment_content");
        content.setCustomValidity("");
        if (content.checkValidity() == false||content.value == "")
        content.setCustomValidity("请输入内容!");
        else
        content.setCustomValidity("");
    }
    function modalData(e){
        setTimeout(function () {
            document.getElementById("source_conmment_content").setCustomValidity("请输入内容!");
            $("#detail_id").attr("value",$(e).data("detail_id"));
            $("#target_source_id").attr("value",$(e).data("target_source_id"));
            $("#user_id").attr("value",$(e).data("user_id"));
        }, 300);
    }

    var url_arr='{{ source.path|safe }}'.split('@@');
    var num = {{ num }};
    for(i in url_arr){
        var url_arr_arr = url_arr[i].split('|');
        it = url_arr_arr[url_arr_arr.length - 1];
        $("<a>",{
            class:"btn-num"+(i==num?" btn-num-sel":""),
            href:"/ziYuanDetail/{{ source.id }}/{{ come }}/"+i,
            text: it
        }).appendTo("#num");
    }
    var url_info = url_arr[num].split('|');

    $("#mengkaby_player").html('<iframe src="/mv?type='+url_info[1]+'&uid=' + url_info[0] + '&come={{ come }}&source_id={{ source.id }}&num={{ num }}" height="100%" width="100%" scrolling="no" allowfullscreen="true" allowtransparency="true" frameborder="no" border="0" marginwidth="0" marginheight="0"></iframe>');
    </script>
    <script src="{{ url_for( 'static',filename='public/OwO/OwO.min.js') }}"></script>
	<script>
	    var OwO_demo = new OwO({
	        logo: 'OωO',
	        container: document.getElementsByClassName('OwO')[0],
	        target: document.getElementsByClassName('OwO-textarea')[0],
	        api: '{{ url_for( 'static',filename='public/OwO/OwO.json') }}',
	        position: 'down',
	        wwidth: '240px',
	        maxHeight: '250px'
	    });
	</script>
    <script>
    function close_comment(detail_id) {
        $("#slide"+detail_id).slideToggle();
        $("#slide"+detail_id).html("");
    }
    function comment(e) {
        var detail_id = $(e).data("detail_id");
        $.ajax({
            url:"/source_comment/"+detail_id,
            beforeSend:function(){
              $("#loading").removeClass("hide");
            },
            dataType:"JSON",
            success: function (data) {

                let html = '<div class="card">\n' +
                    '                <div class="card-body">\n' +
                    '                    <table class="table" id="table_content'+detail_id+'" style="width:100%">\n' +
                    '                        <thead style="display: none">\n' +
                    '                          <tr>\n' +
                    '                            <th></th>\n' +
                    '                          </tr>\n' +
                    '                        </thead>\n' +
                    '                        <tbody></tbody>\n' +
                    '                    </table>\n' +
                    '                    <ul class="pagination" id="table_content'+detail_id+'_ul"></ul>\n' +
                    '<button type="button" onclick="close_comment(\''+detail_id+'\')" class="btn btn-primary btn-close">收起</button>' +

                      '                </div>\n' +
                    '            </div>';
                $("#slide"+detail_id).html(html);
                $("#slide"+detail_id).slideToggle();
                $("#loading").addClass("hide");
                let data_table_content = data;
                let table_content = new table("table_content"+detail_id,data_table_content);

                table_content;

            }
        })
    }
    </script>
<script>
    $(document).ready(function() {
        //为当前窗口添加滚动条滚动事件（适用于所有可滚动的元素和 window 对象（浏览器窗口））
        $(window).scroll(function () {
            //创建一个变量存储当前窗口下移的高度
            var scroTop = $(window).scrollTop();
            //判断当前窗口滚动高度
            //如果大于100，则显示顶部元素，否则隐藏顶部元素
            if (scroTop > 100) {
                $('#mengka').fadeOut(250,function(){
                    $('#this').fadeIn(250).css('display','block');
                });

            } else {
                $('#this').fadeOut(250,function(){
                    $('#mengka').fadeIn(250);
                });
            }
        });
    });
    </script>

{% endblock %}